{% extends "photos/base.html" %}

{% block body %}

<div class="container">
    <h1>Welcome to Photos App</h1><br>
	
	<h2>Note: This is a Trail Version of this Web App.</h2><br>

    <h3>This is my very first Django Web App, which is live on internet for you.</h3><br>

    <p>
        Hello, I am Shreyas and as you read before this paragraph that<br>
        "This is my very first Django Web App, which is live on internet for you."<br>
        and now I want to tell you about this app and what can this app do<br>
    </p><br>

    <h6>So Lets see what this Web App can do :</h6>

    <ul>
        <li>Add photos to this app so other people can see it.</li>
        <li>You can also manage your photos like --> Update, Delete</li>
        <li>Comment and Like the Photos.(Sorry, The Like Function is Under Development, but some parts(Bits of function)
            of Like Function Work.)
        </li>
        <li>Create your own account, So you can post photos on this app. To create a account you just need to fill this
            things --> username, email, password
        </li>
        <li>View Others Profile (You also have your own profile).</li>
        <li>Search for Photos.</li>
        <li>View what others have commented.</li>
    </ul>
	<hr>
	<br>
	<h5>If You Have Any Problem Feel Free To Contact Me</h5>
	<p>Name: Shreyas Vijay Ghansawant<br>Email: shreyasghansawant@gmail.com</p>
</div>

{% endblock %}
